
<div class="sub-webapp-h">
    <div class="sub-webapp-h-title">我的关注</div>
    <a href="javascript:;" class="go-home" ng-click="back()"><i class="icon-home"></i></a>
    <a href="javascript:;" class="complate">完成</a>
    <div class="sub-webapp-h-img"><img src="images/wdgz.png" width="110" height="99"></div>
    <p>一键关注企业，随时查看其状态</p>
</div>
<div class="sub-webapp-c">
    <div class="company-attention">
        <div class="company-attention-title border-image-bottom-1px">
            <h1>长兴新源排水有限公司</h1>
            <a href="javascript:;"><i class="icon-heart"></i></a>
        </div>
        <div class="company-attention-body">
            <table>
                <tr>
                    <td><p class="border-image-bottom-1px"><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="stop">断线</span></p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="run">在线</span></p></td>
                </tr>
                <tr>
                    <td><p><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p><span class="exceed">超标</span></p></td>
                    <td width="40" align="center"><p><span class="warn">预警</span></p></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="company-attention">
        <div class="company-attention-title border-image-bottom-1px">
            <h1>长兴新源排水有限公司</h1>
            <a href="javascript:;"><i class="icon-heart-empty"></i></a>
        </div>
        <div class="company-attention-body">
            <table>
                <tr>
                    <td><p class="border-image-bottom-1px"><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="stop">断线</span></p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="run">在线</span></p></td>
                </tr>
                <tr>
                    <td><p><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p><span class="exceed">超标</span></p></td>
                    <td width="40" align="center"><p><span class="warn">预警</span></p></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="company-attention-add"><img src="images/add.png" width="31" height="30"></div>
</div>
