
<div class="sub-webapp-h">
    <div class="sub-webapp-h-title">我的关注</div>
    <a href="#/cate/WW" class="go-home"><i class="icon-home"></i></a>
    <a href="javascript:;" class="complate" ng-show="isComp" ng-click="complateFunc()">完成</a>
    <div class="sub-webapp-h-img"><img src="images/wdgz.png" width="110" height="99"></div>
    <p>一键关注企业，随时查看其状态</p>
</div>
<div class="sub-webapp-c">
    <div class="loadingCls" ng-show="historyLoading" style="padding-top: 10px; text-align: center;"><img src="images/loading.gif" width="32" height="32"></div>
    <div class="company-attention" ng-repeat="company in attentionCompanyList">
        <div class="company-attention-title border-image-bottom-1px">
            <h1>{{company.companyName}}</h1>
            <a href="javascript:;"><i ng-click="isAttentionFunc($event.target, company.companyId)" class="icon-heart"></i></a>
        </div>
        <div class="company-attention-body">
            <table>
                <tr ng-repeat="items in company.portList">
                    <td><p ng-class="{'border-image-bottom-1px': !$last}"><i class="icon-circle-arrow-right"></i>{{items.portName}}</p></td>
                    <td width="40" align="center"><p ng-class="{'border-image-bottom-1px': !$last}"><span class="stop">断线</span></p></td>
                    <td width="40" align="center"><p ng-class="{'border-image-bottom-1px': !$last}"><span class="run">--</span></p></td>
                </tr>
                <!-- tr>
                    <td><p class="border-image-bottom-1px"><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="run">在线</span></p></td>
                    <td width="40" align="center"><p class="border-image-bottom-1px"><span class="exceed">超标</span></p></td>
                </tr>
                <tr>
                    <td><p><i class="icon-circle-arrow-right"></i>长兴排水出水口</p></td>
                    <td width="40" align="center"><p><span class="run">在线</span></p></td>
                    <td width="40" align="center"><p><span class="warn">预警</span></p></td>
                </tr -->
            </table>
        </div>
    </div>
    <a href="#/attentionCompany"><div class="company-attention-add"><img src="images/add.png" width="31" height="30"></div></a>
</div>
