
<div class="fpiwebapp-content">
	<div class="fpiwebapp-header">
		<a class="menu-control"><img src="images/menu.png" ng-click="choiceMenu();" width="20" height="20" border="none"></a>
		<p class="titleitem">传输有效率</p>
		<!-- <a href="#/selectRegion" class="name">{{regionName || '杭州'}}</a>
		<a href="#/selectRegion" class="xl"><img src="images/xl.png" width="11" height="11" border="none"></a>

		<a href="javascirpt:;" class="refresh"><img src="images/resh.png" width="17" height="17" border="none"></a>
		<a href="#/search" class="search"><img src="images/search.png" width="17" height="17" border="none"></a> -->
	</div>
</div>
