
<div class="sub-webapp-h" style="height: auto;">
    <div class="sub-webapp-h-title">超标统计</div>
    <a href="javascript:;" class="go-home" ng-click="back()"><i class="icon-home"></i></a>
    <div class="sub-webapp-h-img"><img src="images/cbtj.png" height="155"></div>
</div>
<div class="sub-time-area"><a href="#/choose/null/exceed/{{currentTime.time}}"><i class="icon-time"></i> {{currentTime.time}}</a></div>
<div class="fpi-webapp-home-panel">
	<div style="height: 10px;"></div>
    <div class="home-exceed">
        <div class="no-overstandar" ng-show="noStandardData">暂无超标数据！</div>
        <div class="h-e-content" ng-repeat="overData in overStandardData" ng-click="showCompanyDetail(overData.companyId, 2);">
            <div class="left"><span>超</span></div>
            <div class="right">
                <table class="info">
                    <tr>
                        <td class="title">{{overData.portName}}</td>
                        <td class="align-r">{{overData.companyName}}</td>
                    </tr>
                </table>
                <table class="info">
                    <tr>
                        <td>超标因子:{{overData.fatorName}}</td>
                        <td class="align-c">超标倍数:{{overData.overTimesScope}}</td>
                        <td class="align-r">时长:{{overData.hour}}h</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- div class="h-e-content">
            <div class="left"><span>超</span></div>
            <div class="right">
                <table class="info">
                    <tr>
                        <td class="title">排水进水口</td>
                        <td class="align-r">长兴污染处理厂</td>
                    </tr>
                </table>
                <table class="info">
                    <tr>
                        <td>超标因子:COD</td>
                        <td class="align-c">超标倍数:0.24~2.13</td>
                        <td class="align-r">时长:20h</td>
                    </tr>
                </table>
            </div>
        </div -->
    </div>
</div>
