<!--<div><a href="javascript:;" ng-click="submit();">废气</a></div>-->
<!--<div><a href="javascript:;" ng-click="submit();">废水</a></div>-->
<div class="category">
    <div class="title">选择系统</div>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td><img src="images/water.png" width="100" height="100" border="0" ng-click="submit();"></td>
            <td><img src="images/air.png" width="100" height="100" border="0" ng-click="submit();"></td>
        </tr>
        <tr>
            <td>废水</td>
            <td>废气</td>
        </tr>
    </table>
</div>
