
<div class="fpiwebapp-content">
	<div class="fpiwebapp-detail-header">
		<a class="menu-control" ng-click="back();"><img src="images/backicon.png" width="23" height="23" border="none"></a>
		<p class="titleitem">长兴污水处理厂</p>
	</div>
	<div class="fpiwebapp-home-panel">
        <div class="fpiwebapp-home-panel-title border-line">马龙供排水进水口<i><img src="images/xlicon.png" width="13" height="13"></i></div>
		<div class="fpiwebapp-home-panel-body">
            <tab-detail></tab-detail>
		</div>
	</div>
</div>
