<div ng-controller="CompanyDetailTabController">
    <div class="tab border-image-bottom-1px">
        <a href="javascript:;">实时数据</a>
        <a href="javascript:;">历史数据</a>
        <a href="javascript:;">超标数据</a>
        <i class="c-line"></i>
    </div>
    <div class="tab-content">
        <table class="fpiwebapp-detail-table bg" id="realTable">
            <tr class="num">
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">值</p></th>
                <th><p class="border-image-bottom-1px">单位</p></th>
                <th><p class="border-image-bottom-1px">标准</p></th>
            </tr>
            <tr ng-repeat="realData in realDataByTableArray" ng-click="showChartFunc($event);">
                <td><p class="border-image-bottom-1px"><span ng-class="{true: 'yz', false: 'noyz'}[realData.factorFlag]">{{realData.factorName}}</span></p></td>
                <td><p class="border-image-bottom-1px">{{realData.factorVal}}</p></td>
                <td><p class="border-image-bottom-1px">{{realData.unit}}</p></td>
                <td><p class="border-image-bottom-1px">{{realData.standard}}</p></td>
            </tr>
        </table>
        <div class="loadingCls" ng-show="realLoading"><img src="images/loading.gif" width="32" height="32"></div>
    </div>
    <div class="tab-content">
        <a href="#/choose/{{companyId}}/1"><div class="sub-time-area">{{currentTime}}</div></a>
        <table class="fpiwebapp-detail-table bg">
            <tr class="num">
                <th><p class="border-image-bottom-1px">时间</p></th>
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">值</p></th>
                <th><p class="border-image-bottom-1px">单位</p></th>
                <th><p class="border-image-bottom-1px">标准</p></th>
            </tr>
            <tr ng-repeat="historyData in historyDataArray">
                <td><p class="border-image-bottom-1px">{{historyData.dataTime | date:"MM/dd/yyyy"}}</p></td>
                <td><p class="border-image-bottom-1px"><span ng-class="{true: 'yz', false: 'noyz'}[historyData.factorFlag]">{{historyData.factorName}}</span></p></td>
                <td><p class="border-image-bottom-1px">{{historyData.factorVal}}</p></td>
                <td><p class="border-image-bottom-1px">{{historyData.unit}}</p></td>
                <td><p class="border-image-bottom-1px">{{historyData.standard}}</p></td>
            </tr>
        </table>
        <div class="loadingCls" ng-show="historyLoading"><img src="images/loading.gif" width="32" height="32"></div>
    </div>
    <div class="tab-content">
        <a href="#/choose/{{companyId}}/2"><div class="sub-time-area">{{nowDate}}</div></a>
        <table class="fpiwebapp-detail-table">
            <tr class="num">
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">标准值</p></th>
                <th><p class="border-image-bottom-1px">超标区间</p></th>
                <th><p class="border-image-bottom-1px">超标倍数</p></th>
                <th><p class="border-image-bottom-1px">时长</p></th>
            </tr>
            <tr ng-repeat="overData in overStandarData" ng-click="showChart()">
                <td><p class="border-image-bottom-1px"><span class="yz">{{overData.fatorName}}</span></p></td>
                <td><p class="border-image-bottom-1px">{{overData.standardValue}}</p></td>
                <td><p class="border-image-bottom-1px red">{{overData.alarmValueScope}}</p></td>
                <td><p class="border-image-bottom-1px">{{overData.overTimesScope}}</p></td>
                <td><p class="border-image-bottom-1px">{{overData.hour}}h</p></td>
            </tr>
        </table>
    </div>
</div>
