<div ng-controller="CompanyDetailTabController">
    <div class="tab border-image-bottom-1px">
        <a href="javascript:;">实时数据</a>
        <a href="javascript:;">历史数据</a>
        <a href="javascript:;">超标数据</a>
        <i class="c-line"></i>
    </div>
    <div class="tab-content">
        <div class="p-title">24小时数据</div>
        <div style="height: 150px; background-color: #f4f4f4;" id="linemain"></div>
        <div class="p-point">
            <a href="javascript:;" class="cur"></a>
            <a href="javascript:;"></a>
        </div>
        <table class="fpiwebapp-detail-table">
            <tr class="num">
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">值</p></th>
                <th><p class="border-image-bottom-1px">单位</p></th>
                <th><p class="border-image-bottom-1px">标准</p></th>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
        </table>
    </div>
    <div class="tab-content">
        <div style="padding: 10px;">
            <!-- <input id="dateField" datepicker ng-model="currentDate" readonly="true" select="updateMyText(date)"> -->
        </div>
        <div>{{myText}} - {{currentDate}}</div>
        <table class="fpiwebapp-detail-table">
            <tr class="num">
                <th><p class="border-image-bottom-1px">时间</p></th>
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">值</p></th>
                <th><p class="border-image-bottom-1px">单位</p></th>
                <th><p class="border-image-bottom-1px">标准</p></th>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">08.06 12</p></td>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">08.06 12</p></td>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
            <tr>
                <td><p class="border-image-bottom-1px">08.06 12</p></td>
                <td><p class="border-image-bottom-1px">COD</p></td>
                <td><p class="border-image-bottom-1px">16.27</p></td>
                <td><p class="border-image-bottom-1px">mg/l</p></td>
                <td><p class="border-image-bottom-1px">50</p></td>
            </tr>
        </table>
    </div>
    <div class="tab-content">
        <a href="#/choose"><div class="sub-time-area">2014.09.01 ...</div></a>
        <table class="fpiwebapp-detail-table">
            <tr class="num">
                <th><p class="border-image-bottom-1px">因子</p></th>
                <th><p class="border-image-bottom-1px">标准值</p></th>
                <th><p class="border-image-bottom-1px">超标区间</p></th>
                <th><p class="border-image-bottom-1px">超标倍数</p></th>
                <th><p class="border-image-bottom-1px">时长</p></th>
            </tr>
            <tr ng-repeat="overData in overStandarData">
                <td><p class="border-image-bottom-1px"><span class="yz">{{overData.fatorName}}</span></p></td>
                <td><p class="border-image-bottom-1px">{{overData.standardValue}}</p></td>
                <td><p class="border-image-bottom-1px red">{{overData.alarmValueScope}}</p></td>
                <td><p class="border-image-bottom-1px">{{overData.overTimesScope}}</p></td>
                <td><p class="border-image-bottom-1px">{{overData.hour}}h</p></td>
            </tr>
        </table>
    </div>
</div>
