<div class="login-content">
    <div class="logo"><img src="images/logo.png" width="131" height="114"></div>
    <form ng-submit="submit();">
        <div class="text-area">
            <p class="line"><input type="text" ng-model="user" name="username" placeholder="用户名" /></p>
            <p><input type="password" ng-model="passw" name="password" placeholder="密码" /></p>
        </div>
        <div class="sub-controller"><input class="inputCls" type="submit" ng-click="submit();" id="submit" value="登录"></div>
    </form>
    <div ng-hide="isError" style="line-height: 30px; text-align: center; color: red;">用户名或密码出错!</div>
</div>
