<div class="fpi-webapp-header">
    <div class="fpi-webapp-header-category">
        <a href="/app/#/cate/WW"><span class="water" ng-class="{true: 'cur', false: ''}[isActive]">废水</span></a>
        <a href="/app/#/cate/WG"><span class="air" ng-class="{true: 'cur', false: ''}[isSubActive]">废气</span></a>
    </div>
    <div class="fpi-webapp-header-area">
        <a href="#/selectRegion">
			<div class="img"></div>
            <span class="text-ellipsis">{{currentRegion}}</span>
        </a>
    </div>
    <a href="#/account">
        <div class="fpi-webapp-header-user">
			<div class="img"></div>
        </div>
    </a>
    <a href="javascript:;" ng-click="refresh();">
        <div class="fpi-webapp-header-refresh">
			<div class="img"></div>
        </div>
    </a>
</div>
<div class="fpi-webapp-home-search">
    <input type="text" name="search" id="search" value="" readonly="true" />
    <div class="text">请输入企业名称</div>
    <div class="icon"></div>
</div>
<div class="fpi-webapp-home-menu">
    <ul>
        <li>
            <div class="border-image-right-1px line">
				<div class="icon home-m"></div>
                <p class="txt">首页</p>
            </div>
        </li>
        <li>
            <div class="border-image-right-1px line">
                <a href="#/exceed">
					<div class="icon exceed-m"></div>
					<p class="txt">超标统计</p>
                </a>
            </div>
        </li>
        <li>
            <div class="border-image-right-1px line">
				<a href="#/transport">
					<div class="icon transport-m"></div>
                	<p class="txt">传输有效率</p>
				</a>
            </div>
        </li>
        <li>
            <div>
                <div class="icon me-m"></div>
                <p class="txt">我的关注</p>
            </div>
        </li>
    </ul>
    <div class="menu-bottom"></div>
</div>
<div class="fpi-webapp-home-panel">
    <h1>监测点实时状态</h1>
    <ul class="zt">
        <li><div class="status" style="background-color: #6bd4a7;"><span>{{stateData[0].ZC}}</span><p>正常</p></div></li>
        <li><div class="status" style="background-color: #ff6363;"><span>{{stateData[0].BJ}}</span><p>超标</p></div></li>
        <li><div class="status" style="background-color: #cf88df;"><span>{{stateData[0].YC}}</span><p>异常</p></div></li>
        <li><div class="status" style="background-color: #bebebe;"><span>{{stateData[0].unconnect}}</span><p>断线</p></div></li>
        <li><div class="status" style="background-color: #ffb848;"><span>{{stateData[0].YJ}}</span><p>预警</p></div></li>
    </ul>
    <p class="txt"><span>{{stateData[0].companyNum}}</span>家企业,<span>{{stateData[0].portNum}}</span>个监测点，联网率<span>{{stateData[0].connect}}%</span></p>
    <div class="menu-bottom"></div>
</div>
<div class="fpi-webapp-home-panel">
	<h1>数据传输有效率({{preDate}})</h1>
    <ul class="yxl">
        <li ng-repeat="trans in transPercentData" on-finish-render-filters>
            <div class="cavCls"><canvas class="process" width="80px" height="80px">{{trans[$index]}}%</canvas></div>
            <div class="txt">{{transPercentDataTxt[$index]}}</div>
        </li>
    </ul>
    <div class="menu-bottom"></div>
</div>
<div class="fpi-webapp-home-panel">
	<h1>超标排行({{nowDate}})</h1>
    <div class="home-exceed">
        <div class="h-e-content" ng-repeat="overData in overStandardData" ng-click="showCompanyDetail();">
            <div class="left"><span>超</span></div>
            <div class="right">
                <table class="info">
                    <tr>
                        <td class="title">{{overData.portName}}</td>
                        <td class="align-r">{{overData.companyName}}</td>
                    </tr>
                </table>
                <table class="info">
                    <tr>
                        <td>超标因子:{{overData.fatorName}}</td>
                        <td class="align-c">超标倍数:{{overData.overTimesScope}}</td>
                        <td class="align-r">时长:{{overData.hour}}h</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- div class="h-e-content">
            <div class="left"><span>超</span></div>
            <div class="right">
                <table class="info">
                    <tr>
                        <td class="title">排水进水口</td>
                        <td class="align-r">长兴污染处理厂</td>
                    </tr>
                </table>
                <table class="info">
                    <tr>
                        <td>超标因子:COD</td>
                        <td class="align-c">超标倍数:0.24~2.13</td>
                        <td class="align-r">时长:20h</td>
                    </tr>
                </table>
            </div>
        </div -->
    </div>
</div>
