<div class="webapp-sub-2-title">
    条件选择
    <a href="javascript:;" ng-click="back();" class="backnew"><img src="images/backiconnew.png" width="12" height="20"></a>
    <a href="javascript:;" class="ok">确定</a>
</div>
<calendar update_date_method="setCurrentDate">
</calendar>
{{currentDate}}

<div class="choose-panel">
    <div class="choose-panel-title">
        <div class="choose-p-t-l">因子选择</div>
        <div class="choose-p-t-r"><a href="javascript:;" class="buttonCls">确定({{remaining()}})</a></div>
    </div>
    <div class="choose-panel-body border-image-bottom-1px">
        <ul class="yz" ng-repeat="factor in factorData">
            <li><a href="javascript:;" ng-click="archive()"><i><img ng-src="images/r-{{factor.done}}.png" width="14" height="14"></i><span>{{factor.text}}</span></a></li>
			<!-- li><a href="javascript:;"><i><img src="images/rd.png" width="14" height="14"></i><span>PH</span></a></li>
			<li><a href="javascript:;"><i><img src="images/r.png" width="14" height="14"></i><span>NH3-N</span></a></li>
			<li><a href="javascript:;"><i><img src="images/rd.png" width="14" height="14"></i><span>流量</span></a></li -->
		</ul>
		<div style="clear: both;"></div>
    </div>
</div>
